#app {
    margin: auto;
}

.center {
    text-align: center;
  }

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 70%;
    height: 70%;
    vertical-align: middle;
}

#footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
}

#input-parent {
    width: 160px;
    margin: 0 auto; /* top, right, bottom, left */
}


#submit {
    margin: 10px;
}

#footer #signature {
    margin: auto 0;
}