body {
    background-color: black;
}

#app {
    background-color: dimgray;
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
}

#headers {
    color: white;
    padding: 25px;
    text-shadow: 2px 2px black;
}

#input-parent {
    width: 160px;
    margin: auto; /* top, right, bottom, left */
    /* padding: 25px; */
}

#player-input {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: medium;
    box-shadow: 5px 10px;
    padding: 0 auto;
    font-size: 60px;
    text-align: center;
}

#submit {
    position: relative;
    left: 50px;
    bottom: 60px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 5px 10px black;
    font-size: 30px;
    font-style: bold;
}

#submit:hover {
    background-color: #ff9900;
}

#guesses .guess {
    display: inline;
    font-size: 50px;
    padding: 0 25px;
    box-shadow: 5px 10px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

#menu-btns {
    padding: 25px;
}

#footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
}

#footer #signature {
    margin: auto 0;
    font-variant: small-caps;
}

#footer #github {
    width: auto;
    max-width: 8%;
    height: auto;
}

.center {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    vertical-align: middle;
    width: 70%;
    height: auto;
}

