#webpage {
    background-color: black;
}

@font-face {
    font-family: "punk";
    src: url("assets/punk kid.ttf"),
    url("assets/punk_kid-webfont.woff"),
    url("assets/punk_kid-webfont.woff2");
}

@font-face {
    font-family: "punkboy";
    src: url("assets/punkboy_tbs.ttf"),
    url("assets/punkboy_tbs-webfont.woff"),
    url("assets/punkboy_tbs-webfont.woff2");
}

#spacer {
    /* padding: 25px; */
    margin: 50px auto;
    background-color: transparent;
}

#app {
    background-image: url("assets/purple.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 20px;
    border-color: transparent;
}

#headers {
    color: white;
    padding: 25px;
}

#title {
    font-family: "punk";
    font-size: 100px;
}

#subtitle {
    font-family: "punkboy";
    font-size: 45px;
}

#hint {
    font-family: "punkboy";
    font-size: 35px;
}

#input-parent {
    width: 160px;
    margin: 0px auto;
}

#player-input {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: medium;
    padding: 0 auto;
    font-family: "punkboy";
    font-size: 60px;
    text-align: center;
}

#submit {
    position: relative;
    left: 50px;
    bottom: 60px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 30px;
    font-family: "punkboy";
}

#guesses .guess {
    display: inline;
    font-family: "punkboy";
    font-size: 50px;
    padding: 0 25px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    white-space: pre-wrap;
}

#menu-btns {
    margin: 15px;
    font-family: "punkboy";
}

#reset-button {
    height: 50px;
    width: 200px;
    font-size: 30px;
}

#hint-button {
    height: 50px;
    width: 150px;
    font-size: 30px;
}

#footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
}

#footer #signature {
    margin: auto;
    font-variant: small-caps;
}

#footer #gh-logo {
    margin: auto;
}

#footer #github {
    width: auto;
    max-width: 8%;
    height: auto;
}

.center {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    margin: auto;
    width: 70%;
}

